@use "sass:map";

@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss";

@import "custom.scss";
@import "animation.css";


* {
  margin: 0px;
  padding: 0px;
  z-index: 1000;
  box-sizing: border-box;
}

.text-decoration:hover {
  text-decoration: underline;
  text-decoration-color: gray;
}

.index-1 {
  z-index: 1010;
}

.index-2 {
  z-index: 1020;
}

.index-3 {
  z-index: 1030;
}

.font-nav {
  font-family: monospace;
}

.font-title {
  font-family: fantasy;
}

.font-content {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.font-btn {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}