@use "sass:map";
@import "~bootstrap/scss/bootstrap";
@import "custom.scss";

@for $i from 1 through 6 {
  .purple-lv#{7-$i} {
    background-color: lighten(#6800c9, $i*8%)
  }
}

@for $i from 1 through 6 {
  .blue-lv#{7-$i} {
    background-color: lighten(#0025c9, $i*8%)
  }
}

@for $i from 1 through 6 {
  .pink-lv#{7-$i} {
    background-color: lighten(#ce007f, $i*8%)
  }
}

@for $i from 1 through 6 {
  .red-lv#{7-$i} {
    background-color: lighten(#cc0000, $i*8%)
  }
}

@for $i from 1 through 6 {
  .orange-lv#{7-$i} {
    background-color: lighten(#cc7400, $i*8%)
  }
}

@for $i from 1 through 6 {
  .yellow-lv#{7-$i} {
    background-color: lighten(#cab600, $i*8%)
  }
}

@for $i from 1 through 6 {
  .green-lv#{7-$i} {
    background-color: lighten(#37c200, $i*8%)
  }
}

@for $i from 1 through 6 {
  .cyan-lv#{7-$i} {
    background-color: lighten(#00abc2, $i*8%)
  }
}

@for $i from 1 through 6 {
  .gray-lv#{7-$i} {
    background-color: lighten(#696969, $i*8%)
  }
}

.index-3 {
  z-index: 3;
}

.index-4 {
  z-index: 4;
}

.index-1 {
  z-index: 1;
}

.index-2 {
  z-index: 2;
}

.index-0 {
  z-index: 0;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}


@media (max-width: 990px) {
  .pt-btn {
    position: absolute;
    top: 8%;
    right: 17%;
  }

  .pt-fold {
    position: absolute;
    top: 8%;
    right: 1%;
  }
}


.font-style {
  font-family: fantasy;
}


.nav-default {
  transition: transform 1s ease-in;
  transform: translateX(0%) !important;
}